.form {
  width: 320px;
  margin: 0 auto;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.input {
  height: 26px;
  border-radius: 4px;
  outline: none;
  border: 1px solid black;
  padding-left: 10px;
  font-size: 16px;
}

.btn {
  width: 100px;
  height: 30px;
  font-size: 20px;
  border-radius: 6px;
  border: 2px solid palevioletred;
  background-color: rgba(216, 112, 147, 0.701);
  color: #fff;
  cursor: pointer;
}
